.page-body {
  font-family: "Ubuntu", sans-serif;
}

.page-wrapper {
  background-image: url(../image/background.png);
  background-size: cover;
  height: 100vh;
  min-height: 770px;
}

.main-header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  transition: 0.3s;
  cursor: pointer;
}

.header-title:hover {
  color: #01813f;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link-title {
  visibility: hidden;
  position: absolute;
}

.menu-icon {
  width: 21px;
  height: 24px;
}

.menu-icon path,
.menu-link {
  transition: 0.3s;
}

.menu-link:hover {
  color: #01813f;
}

.menu-icon:hover path {
  fill: #01813f;
}

.header-text {
  display: flex;
}

.menu-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.menu-link {
  text-decoration: none;
}

.main-container {
  display: flex;
  height: 100%;
  align-items: center;
  height: calc(100% - 59px);
}

.contact-form {
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}

.contact-form::before {
  content: "";
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  display: inline-block;
  position: absolute;
  top: 30px;
}

.form-container {
  width: 322px;
  margin: 0 auto;
  padding-top: 30px;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}

.signup {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin: 0;
}

.login {
  text-decoration: none;
  color: #3cb878;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  transition: 0.3s;
}

.login:hover {
  color: #01813f;
  text-decoration: underline;
}

.menu-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  align-items: center;
}

.menu-list::after {
  content: "";
  width: 1px;
  height: 19px;
  color: #ffffffe5;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.form-button {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}

.social {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  width: 160px;
  height: 48px;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.facebook {
  background-color: #305db8;
  transition: 0.3s;
}

.facebook:hover {
  background-color: #022263;
}

.google {
  background-color: #df4a32;
  transition: 0.3s;
}

.google:hover {
  background-color: #ab1f09;
}

.social-logo {
  margin: 0 auto;
}

.facebook-text {
  border-left: 1px solid rgba(10, 22, 47, 0.1);
  display: inline-block;
  height: 28px;
  line-height: 28px;
  width: 68%;
}

.google-text {
  border-left: 1px solid rgba(43, 13, 9, 0.1);
  display: inline-block;
  height: 28px;
  line-height: 28px;
  width: 68%;
}

.or {
  margin-bottom: 12px;
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  position: relative;
}

.or::before {
  content: "";
  border-bottom: 1px solid #f2f2f2;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 46%;
  left: 0;
}

.or::after {
  content: "";
  border-bottom: 1px solid #f2f2f2;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 46%;
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-field {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}

.form-field:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.form-filling {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}

.form-agreement {
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}

.checkbox-text {
  color: #434343;
}

.check-green {
  visibility: hidden;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.check-green::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  visibility: visible;
  transition: 0.3s;
}

.check-green:hover::before {
  border: 1px solid #3cb878;
}

.check-green:checked::before {
  background-image: url(../image/agree.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.check-green:checked:hover::before {
  background-image: url(../image/agree_hover.svg);
  border: 1px solid #f2f2f2;
}

.agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.checkbox-text-green {
  color: #3cb878;
  text-decoration: none;
}

.checkbox-text-green:hover {
  color: #01813f;
  text-decoration: underline;
}

.button-create {
  width: 324px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  color: #ffffff;
  padding: 0;
  transition: 0.3s;
}

.button-create:hover {
  background-color: #01813f;
}
